<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/ce9bc4dbd7.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.18/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/sauce-forge.css">
  <script type="module" src="js/sauce-forge.page.js"></script>
  <title>Sauce Forge</title>
</head>

<body class="font-montserrat">
  <header class="navbar bg-base-200">
    <div class="navbar-start">
      <select id="v1-select">
        <optgroup label="SFW">
          <% sfwOptions1.forEach((opt)=> { %>
            <option value="<%= opt.value %>">
              <%= opt.name %>
            </option>
            <% }); %>
        </optgroup>
        <optgroup label="NSFW">
          <% nsfwOptions1.forEach((opt)=> { %>
            <option value="<%= opt.value %>">
              <%= opt.name %>
            </option>
            <% }); %>
        </optgroup>
      </select>
    </div>
    <div class="navbar-center">
      <span id="title">Sauce Forge</span>
    </div>
    <div class="navbar-end">
      <select id="v2-select">
        <optgroup label="SFW">
          <% sfwOptions2.forEach((opt)=> { %>
            <option value="<%= opt.value %>">
              <%= opt.name %>
            </option>
            <% }); %>
        </optgroup>
        <optgroup label="NSFW">
          <% nsfwOptions2.forEach((opt)=> { %>
            <option value="<%= opt.value %>">
              <%= opt.name %>
            </option>
            <% }); %>
        </optgroup>
      </select>
    </div>
  </header>

  <main id="main">
    <img id="main-img" loading="lazy" src="<%= startImgUrl %>" alt="main-img" class="pic">
  </main>
  <div id="album">
  </div>
  <footer class="footer bg-base-200">
    <div class="flex-row">
      <div class="form-control">
        <span class="footer-title">
          Toggle Album
        </span>
        <label class="cursor-pointer label">
          <input id="toggle-album" type="checkbox" class="toggle toggle-secondary" checked />
        </label>
      </div>
      <div class="form-control">
        <span class="footer-title">
          Clear Album
        </span>
        <button id="clear-album" class="btn btn-outline btn-secondary">Clear Album</button>
      </div>
    </div>
    <div class="footer-end">
      <p>
        Tap on the right of the screen to get an image from the right Selection,
        Left for the left selection
      </p>
    </div>
  </footer>
</body>

</html>